{% extends "base.html" %}

{% block content %}
  <h1>All Dish Types
    <a href="{% url 'kitchen:dish-types-create' %}" class="btn btn-primary">
      Create
    </a>
  </h1>
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for dish_type in dish_type_list %}
        <tr>
          <th>{{ dish_type.id }}</th>

          <th>{{ dish_type.name }}</th>
          <th><a href="{% url 'kitchen:dish-types-update' pk=dish_type.id %}">Update</a></th>
          <th><a href="{% url 'kitchen:dish-types-delete' pk=dish_type.id %}">Delete</a></th>
        </tr>
      {% endfor %}
    </table>
    <ul>


    </ul>
  {% endif %}
{% endblock %}